<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodeTemplate</key>
	<string></string>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<false/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>Enabled</key>
	<true/>
	<key>Errors</key>
	<dict>
		<key>127</key>
		<string>Could not find Node.js on your system. You can get it at http://nodejs.org</string>
	</dict>
	<key>FileExtensions</key>
	<array>
		<string>js</string>
	</array>
	<key>Grammar</key>
	<string>source.js.node</string>
	<key>LanguageBundleVersion</key>
	<integer>1</integer>
	<key>LastUsed</key>
	<date>2017-09-21T06:27:18Z</date>
	<key>Name</key>
	<string>JavaScript (Babel)</string>
	<key>OutputEncoding</key>
	<integer>4</integer>
	<key>RunCommand</key>
	<string>babel-node $filename</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array/>
	<key>UseCount</key>
	<integer>78</integer>
	<key>uuid</key>
	<string>5BC985D9-9C67-48AF-9489-276BA7CAD03C</string>
</dict>
</plist>
