/Swift.crLanguage
/Shell Script.crLanguage
/Rust.crLanguage
/Ruby.crLanguage
/Python.crLanguage
/Python 3.crLanguage
/PHP.crLanguage
/Perl.crLanguage
/Objective-C++.crLanguage
/Objective-C.crLanguage
/Markdown.crLanguage
/Lua.crLanguage
/LaTeX.crLanguage
/JavaScript (Node.js).crLanguage
/JavaScript (jQuery).crLanguage
/JavaScript (Browser).crLanguage
/Java.crLanguage
/HTML.crLanguage
/Go.crLanguage
/C++.crLanguage
/C\#.crLanguage
/C.crLanguage
/AppleScript.crLanguage
/.Archive
